*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FDF0D5;
}

@font-face{
    font-family: "crafty";
    src: url("Crafty_Girls/CraftyGirls-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "handlee";
    src: url("Handlee/Handlee-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #249D8F;
    z-index: 1000;
}

.nav-links{
    display: flex;
    font-family: "crafty", sans-serif;
    font-size: 1.5em;
    list-style: none;
    gap: 10em;
    /*top right bottom left*/
    padding: 1em 2.5em 1em 2.5em;
}

.nav-links a{
    text-decoration: none;
    color: floralwhite;
}

.round-border{
    border: 5px solid #E9C46A;
    border-radius: 15px;
    width: 300px;
    height: auto;
    display: block;
}

section{
    min-height: 50vh;
    padding: 70px 10px 10px 10px;
    font-family: "handlee", sans-serif;
    font-size: 35px;
    color: #E76F51;
}

.home-cont{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    border: 2px solid #A4B885;
    border-radius: 5px;
    margin: 1em;
    padding: 2em;
}

.des-cont{
    display: flex;
    flex-direction: column;
}

#arr-down{
    width: 90px;
    margin: 30px auto 0;
    cursor: pointer;
    display: block;
    animation: bounce 1.8s ease-in-out infinite;
}

@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}

.git-proj{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    overflow: hidden;


}

.git-proj > div{
    width: 100%;
}

.git-proj img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease  ;
}

.git-proj img:hover{
    transform: scale(1.1);
    z-index: 10;
    position: relative;
}
